#navigate-to-admin-container {
    margin: 30px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#navigate-to-admin-container a {
    color: white;
    text-decoration: none;
}

.admin-anchor {
    background-color: rgb(13, 104, 13);
    color: white;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 200ms;
}
.admin-anchor:hover {
    transform: scale(1.02);
}
